In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [226]:
data = pd.read_csv('C:/Users/A73547/Ironhack/Unit-7/7.01/learningSet.csv')

In [227]:
data.shape

(95412, 481)

In [228]:
data

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [229]:
data['GENDER']

0        F
1        M
2        M
3        F
4        F
        ..
95407    M
95408    M
95409    M
95410    F
95411    F
Name: GENDER, Length: 95412, dtype: object

In [230]:
data.describe()#['TARGET_D']

,ODATEDW,TCODE,DOB,AGE,NUMCHLD,INCOME,WEALTH1,HIT,MBCRAFT,MBGARDEN,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2F,CLUSTER2
count,95412.000000,95412.000000,95412.000000,71747.000000,12386.000000,74126.000000,50680.000000,95412.000000,42558.000000,42558.000000,...,95412.000000,85439.000000,85439.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95280.000000
mean,9141.363256,54.223117,2723.602933,61.611649,1.527773,3.886248,5.345699,3.321438,0.152075,0.059166,...,9135.651648,9151.022917,8.093739,13.347786,95778.176959,0.050759,0.793073,0.500618,1.910053,31.533711
std,343.454752,953.844476,2132.241295,16.664199,0.806861,1.854960,2.742490,9.306899,0.470023,0.262078,...,320.394019,294.257260,8.213242,10.769997,55284.596094,0.219506,4.429725,0.500002,1.072749,18.764614
min,8306.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7211.000000,0.000000,1.285714,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,8801.000000,0.000000,201.000000,48.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,...,8810.000000,8903.000000,4.000000,8.384615,47910.750000,0.000000,0.000000,0.000000,1.000000,15.000000
50%,9201.000000,1.000000,2610.000000,62.000000,1.000000,4.000000,6.000000,0.000000,0.000000,0.000000,...,9201.000000,9204.000000,6.000000,11.636364,95681.500000,0.000000,0.000000,1.000000,2.000000,32.000000
75%,9501.000000,2.000000,4601.000000,75.000000,2.000000,5.000000,8.000000,3.000000,0.000000,0.000000,...,9409.000000,9409.000000,11.000000,15.477955,143643.500000,0.000000,0.000000,1.000000,3.000000,49.000000
max,9701.000000,72002.000000,9710.000000,98.000000,7.000000,7.000000,9.000000,241.000000,6.000000,4.000000,...,9603.000000,9702.000000,1088.000000,1000.000000,191779.000000,1.000000,200.000000,1.000000,4.000000,62.000000

Null Vlaues in all columns

In [231]:
data.isna().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

In [232]:
drop_list =[]

Adding the 2 columes OSOURCE and ZIP to the empty drop_list

In [233]:
drop_list1 = drop_list + ['OSOURCE', 'ZIP']

In [234]:
drop_list1

['OSOURCE', 'ZIP']

In [235]:
nulls = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
nulls.sort_values('percentage', ascending = False).head(50)

          percentage
RDATE_5    99.990567
RAMNT_5    99.990567
RDATE_3    99.746363
RAMNT_3    99.746363
RDATE_4    99.705488
RAMNT_4    99.705488
RAMNT_6    99.186685
RDATE_6    99.186685
RAMNT_15   92.388798
RDATE_15   92.388798
RDATE_23   91.763091
RAMNT_23   91.763091
RDATE_20   91.732696
RAMNT_20   91.732696
RAMNT_7    90.677273
RDATE_7    90.677273
RAMNT_17   90.146942
RDATE_17   90.146942
RDATE_21   90.029556
RAMNT_21   90.029556
RAMNT_10   89.035970
RDATE_10   89.035970
RDATE_13   87.160944
RAMNT_13   87.160944
NUMCHLD    87.018404
RDATE_11   84.551209
RAMNT_11   84.551209
RDATE_19   83.359535
RAMNT_19   83.359535
RAMNT_9    82.461326
RDATE_9    82.461326
RDATE_24   81.409047
RAMNT_24   81.409047
RAMNT_18   79.270951
RDATE_18   79.270951
RAMNT_22   78.123297
RDATE_22   78.123297
RAMNT_8    77.495493
RDATE_8    77.495493
RDATE_14   75.561774
RAMNT_14   75.561774
RAMNT_12   73.064185
RDATE_12   73.064185
RAMNT_16   71.707961
RDATE_16   71.707961
ADATE_15   68.625540
ADATE_23   58.975810
MBCOLECT   55.458433
MAGFAML    55.395548
MBCRAFT    55.395548

creating list for columns with >85% nulls

In [236]:
cols_to_drop = list(nulls[nulls['percentage'] > 15].index)
len(cols_to_drop)
cols_to_drop

['AGE',
 'NUMCHLD',
 'INCOME',
 'WEALTH1',
 'MBCRAFT',
 'MBGARDEN',
 'MBBOOKS',
 'MBCOLECT',
 'MAGFAML',
 'MAGFEM',
 'MAGMALE',
 'PUBGARDN',
 'PUBCULIN',
 'PUBHLTH',
 'PUBDOITY',
 'PUBNEWFN',
 'PUBPHOTO',
 'PUBOPP',
 'WEALTH2',
 'ADATE_5',
 'ADATE_10',
 'ADATE_13',
 'ADATE_14',
 'ADATE_15',
 'ADATE_16',
 'ADATE_17',
 'ADATE_18',
 'ADATE_19',
 'ADATE_20',
 'ADATE_21',
 'ADATE_22',
 'ADATE_23',
 'ADATE_24',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_8',
 'RDATE_9',
 'RDATE_10',
 'RDATE_11',
 'RDATE_12',
 'RDATE_13',
 'RDATE_14',
 'RDATE_15',
 'RDATE_16',
 'RDATE_17',
 'RDATE_18',
 'RDATE_19',
 'RDATE_20',
 'RDATE_21',
 'RDATE_22',
 'RDATE_23',
 'RDATE_24',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_8',
 'RAMNT_9',
 'RAMNT_10',
 'RAMNT_11',
 'RAMNT_12',
 'RAMNT_13',
 'RAMNT_14',
 'RAMNT_15',
 'RAMNT_16',
 'RAMNT_17',
 'RAMNT_18',
 'RAMNT_19',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_22',
 'RAMNT_23',
 'RAMNT_24']

Merging drop_list1 with cols_to_drop

In [237]:
drop_list2 = drop_list1 + cols_to_drop

In [238]:
drop_list2

['OSOURCE',
 'ZIP',
 'AGE',
 'NUMCHLD',
 'INCOME',
 'WEALTH1',
 'MBCRAFT',
 'MBGARDEN',
 'MBBOOKS',
 'MBCOLECT',
 'MAGFAML',
 'MAGFEM',
 'MAGMALE',
 'PUBGARDN',
 'PUBCULIN',
 'PUBHLTH',
 'PUBDOITY',
 'PUBNEWFN',
 'PUBPHOTO',
 'PUBOPP',
 'WEALTH2',
 'ADATE_5',
 'ADATE_10',
 'ADATE_13',
 'ADATE_14',
 'ADATE_15',
 'ADATE_16',
 'ADATE_17',
 'ADATE_18',
 'ADATE_19',
 'ADATE_20',
 'ADATE_21',
 'ADATE_22',
 'ADATE_23',
 'ADATE_24',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_8',
 'RDATE_9',
 'RDATE_10',
 'RDATE_11',
 'RDATE_12',
 'RDATE_13',
 'RDATE_14',
 'RDATE_15',
 'RDATE_16',
 'RDATE_17',
 'RDATE_18',
 'RDATE_19',
 'RDATE_20',
 'RDATE_21',
 'RDATE_22',
 'RDATE_23',
 'RDATE_24',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_8',
 'RAMNT_9',
 'RAMNT_10',
 'RAMNT_11',
 'RAMNT_12',
 'RAMNT_13',
 'RAMNT_14',
 'RAMNT_15',
 'RAMNT_16',
 'RAMNT_17',
 'RAMNT_18',
 'RAMNT_19',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_22',
 'RAMNT_23',
 'RAMNT_24']

In [239]:
data1 = data.copy()
data1

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [240]:
data1 = data1.drop(columns=drop_list2)

In [241]:
data1.shape

(95412, 402)

In [242]:
data1

,ODATEDW,TCODE,STATE,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,RECP3,RECPGVG,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,0,IL,,,3712,0,,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,1,CA,,,5202,0,,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,1,NC,,,0,0,,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,0,CA,,,2801,0,,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,0,FL,,,2001,0,X,X,,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,AK,,,0,0,,,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,1,TX,,,5001,0,,,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,1,MI,,,3801,0,,X,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,0,CA,,,4005,0,X,,,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,2,NC,,,1801,0,X,,X,...,0.0,1,L,1,G,C,1,C,12.0,C

Categoricals

In [243]:
categorical = data.select_dtypes('object')
categorical

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,...,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,...,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,...,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

In [244]:
categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 74 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OSOURCE   95412 non-null  object
 1   STATE     95412 non-null  object
 2   ZIP       95412 non-null  object
 3   MAILCODE  95412 non-null  object
 4   PVASTATE  95412 non-null  object
 5   NOEXCH    95412 non-null  object
 6   RECINHSE  95412 non-null  object
 7   RECP3     95412 non-null  object
 8   RECPGVG   95412 non-null  object
 9   RECSWEEP  95412 non-null  object
 10  MDMAUD    95412 non-null  object
 11  DOMAIN    95412 non-null  object
 12  CLUSTER   95412 non-null  object
 13  AGEFLAG   95412 non-null  object
 14  HOMEOWNR  95412 non-null  object
 15  CHILD03   95412 non-null  object
 16  CHILD07   95412 non-null  object
 17  CHILD12   95412 non-null  object
 18  CHILD18   95412 non-null  object
 19  GENDER    95412 non-null  object
 20  DATASRCE  95412 non-null  object
 21  SOLP3     95412 non-null  object
 22  SOLIH     95412 non-null  object
 23  MAJOR     95412 non-null  object
 24  GEOCODE   95412 non-null  object
 25  COLLECT1  95412 non-null  object
 26  VETERANS  95412 non-null  object
 27  BIBLE     95412 non-null  object
 28  CATLG     95412 non-null  object
 29  HOMEE     95412 non-null  object
 30  PETS      95412 non-null  object
 31  CDPLAY    95412 non-null  object
 32  STEREO    95412 non-null  object
 33  PCOWNERS  95412 non-null  object
 34  PHOTO     95412 non-null  object
 35  CRAFTS    95412 non-null  object
 36  FISHER    95412 non-null  object
 37  GARDENIN  95412 non-null  object
 38  BOATS     95412 non-null  object
 39  WALKER    95412 non-null  object
 40  KIDSTUFF  95412 non-null  object
 41  CARDS     95412 non-null  object
 42  PLATES    95412 non-null  object
 43  LIFESRC   95412 non-null  object
 44  PEPSTRFL  95412 non-null  object
 45  RFA_2     95412 non-null  object
 46  RFA_3     95412 non-null  object
 47  RFA_4     95412 non-null  object
 48  RFA_5     95412 non-null  object
 49  RFA_6     95412 non-null  object
 50  RFA_7     95412 non-null  object
 51  RFA_8     95412 non-null  object
 52  RFA_9     95412 non-null  object
 53  RFA_10    95412 non-null  object
 54  RFA_11    95412 non-null  object
 55  RFA_12    95412 non-null  object
 56  RFA_13    95412 non-null  object
 57  RFA_14    95412 non-null  object
 58  RFA_15    95412 non-null  object
 59  RFA_16    95412 non-null  object
 60  RFA_17    95412 non-null  object
 61  RFA_18    95412 non-null  object
 62  RFA_19    95412 non-null  object
 63  RFA_20    95412 non-null  object
 64  RFA_21    95412 non-null  object
 65  RFA_22    95412 non-null  object
 66  RFA_23    95412 non-null  object
 67  RFA_24    95412 non-null  object
 68  RFA_2R    95412 non-null  object
 69  RFA_2A    95412 non-null  object
 70  MDMAUD_R  95412 non-null  object
 71  MDMAUD_F  95412 non-null  object
 72  MDMAUD_A  95412 non-null  object
 73  GEOCODE2  95280 non-null  object
dtypes: object(74)
memory usage: 53.9+ MB

In [245]:
data['GENDER'].isna().sum()

0

In [246]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

Reduce the number of categories in the column GENDER to M, F and O

In [247]:
data["GENDER"] = data["GENDER"].apply(lambda x: "F" if x == "F" else "M" if x == "M" else "O")

In [248]:
data['GENDER'].value_counts()

F    51277
M    39094
O     5041
Name: GENDER, dtype: int64